<div class="container shadow-left-right p-3">

  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>


  <div class="image d-flex w-100 p-5">
    <div class="flex-fill">
      <img style="max-height: 325px" class="w-100 object-fit-cover rounded" src="https://images.unsplash.com/photo-1515891396453-6d7e56096a39?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="https://placehold.co/600x400">
    </div>
  </div>

  <div class="top-content d-flex w-100 p-3">
    <div class="newBtn flex-fill">
      <button class="btn btn-outline-dark w-100 fs-5">New Magazines</button>
    </div>
    <div class="recommendedBtn flex-fill">
      <button class="btn btn-outline-dark w-100 fs-5">Recommended</button>
    </div>
  </div>

  <div class="sorting d-flex w-100 justify-content-between align-items-center mt-5">
    <div class="leftSide">
      <h3 class="fw-bold">Magazines</h3>
    </div>
    <div class="rightSide d-flex">
      <div class="dropdown filtering">
        <button class="btn btn-secondary btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sorting
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item small pointer"
                 (click)="sortMagazines('name', 'asc')"
                 [class.active]="activeSort.sortBy === 'name' && activeSort.sortOrder === 'asc'">Name (ascending)</a></li>
          <li><a class="dropdown-item small pointer"
                 (click)="sortMagazines('name', 'desc')"
                 [class.active]="activeSort.sortBy === 'name' && activeSort.sortOrder === 'desc'">Name (descending)</a></li>
          <li><a class="dropdown-item small pointer"
                 (click)="sortMagazines('price', 'asc')"
                 [class.active]="activeSort.sortBy === 'price' && activeSort.sortOrder === 'asc'">Price (ascending)</a></li>
          <li><a class="dropdown-item small pointer"
                 (click)="sortMagazines('price', 'desc')"
                 [class.active]="activeSort.sortBy === 'price' && activeSort.sortOrder === 'desc'">Price (descending)</a></li>
        </ul>
      </div>
      <div class="dropdown per-page ms-3">
        <button class="btn btn-secondary btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Per page
        </button>
        <ul class="dropdown-menu dropdown-menu-light">
          <li><a class="dropdown-item small" (click)="changePerPage(20)">20</a></li>
          <li><a class="dropdown-item small" (click)="changePerPage(40)">40</a></li>
          <li><a class="dropdown-item small" (click)="changePerPage(60)">60</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3 category-sidebar small">
        <h5 class="mb-3">Categories</h5>
        <div class="list-group" *ngFor="let cat of allCategories">
          <a href="#" class="list-group-item list-group-item-action">{{ cat.categoryName }}</a>
        </div>
      </div>

      <div class="col-md-9 magazines d-flex flex-wrap gap-3">
        <div class="card" *ngFor="let magazine of allMagazines">
          <img class="card-image w-100 object-fit-cover pointer"
               [src]="magazine.image"
               alt="Image not found"
               (error)="magazine.image = fallBackUrl"
               routerLink="/magazine/{{magazine.id}}">
          <div class="card-body">
            <div class="firstLine d-flex justify-content-between">
              <p class="firstLine-item fw-bold pointer" routerLink="/magazine/{{magazine.id}}">{{ magazine.title }}</p>
              <p class="firstLine-item fw-bold pointer" routerLink="/magazine/{{magazine.id}}">{{ magazine.price }}</p>
            </div>
            <span class="author pointer" routerLink="/magazine/{{magazine.id}}">{{ magazine.publisher }}</span><br>
            <button class="btn btn-outline-dark mt-2">Add <i class="bi bi-bag"></i></button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="pagination-container d-flex justify-content-end align-items-center me-5">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="pagination-button prev me-2">
      &laquo; Previous
    </button>

    <span class="page-info fw-bold">
    Page {{ currentPage }} of {{ totalPages }}
  </span>

    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage >= totalPages"
      class="pagination-button next ms-2">
      Next &raquo;
    </button>
  </div>
</div>

