.navbar{
  margin-top: 0 !important;
}

.cart-link{
  text-decoration: none !important;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}

.dropdown-item:hover{
  background-color: gray;
  color: white;
}
