<div class="container">
  <div class="search-bar d-flex justify-content-center">
    <div class="search-container" style="position: relative; width: 500px;">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
        (keyup.enter)="submitSearch()"
        class="form-control"
        placeholder="Search..."
        style="border: 1px gray solid"
      />

      <ul
        *ngIf="suggestions.length > 0"
        class="suggestion-list list-group"
      >
        <li
          *ngFor="let suggestion of suggestions"
          class="list-group-item pointer"
          (click)="selectSuggestion(suggestion)"
        >
          {{ suggestion.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
