<div class="p-0 m-0">

  <div class="mt-3 mb-3">
    <button class="btn btn-primary fs-5" routerLink="/admin/addUser">Add User</button>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr class="">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>abc</td>
      <td>abc</td>
      <td>
        <button class="btn btn-success"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger ms-2"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>abc</td>
      <td>abc</td>
      <td>
        <button class="btn btn-success"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger ms-2"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>abc</td>
      <td>abc</td>
      <td>
        <button class="btn btn-success"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger ms-2"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

