<div class="register-content  d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-6">
        <div class="content p-3">
          <div class="welcome">
            <h4 class="welcome_h">Welcome <span class="fs-4">👋</span></h4>
          </div>
          <div class="mini-content mb-3">
            <p class="small text-muted">We're happy to see you here. Feel free to sign up!</p>
          </div>

          <form [formGroup]="form" (ngSubmit)="onSubmit()"  class="register-form">
            <div class="mb-2">
              <label for="firstNameInput" class="form-label small">First name</label>
              <input type="text" class="form-control form-control-sm" id="firstNameInput" formControlName="firstName" placeholder="John">
              <div *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid" class="error">
                  <span *ngIf="form.get('firstName')?.errors?.['required']">First Name is required</span>
              </div>
            </div>


            <div class="mb-2">
              <label for="lastNameInput" class="form-label small">Last name</label>
              <input type="text" class="form-control form-control-sm" id="lastNameInput" formControlName="lastName" placeholder="Doe">
              <div *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid" class="error">
                <span *ngIf="form.get('lastName')?.errors?.['required']">Last Name is required</span>
              </div>
            </div>

            <div class="mb-2">
              <label for="emailInput" class="form-label small">Email</label>
              <input type="email" class="form-control form-control-sm" id="emailInput" formControlName="email" placeholder="example@email.com">
              <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
                <span *ngIf="form.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="form.get('email')?.errors?.['email']">Invalid email format</span>
                <span *ngIf="form.get('email')?.errors?.['emailTaken']">This email is already taken</span>
              </div>
            </div>

            <div class="mb-2">
              <label for="passwordInput" class="form-label small">Password</label>
              <input type="password" class="form-control form-control-sm" id="passwordInput" formControlName="password" placeholder="Password">
              <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
                <span *ngIf="form.get('password')?.errors?.['required']">Password is required.</span>
                <span *ngIf="form.get('password')?.errors?.['minlength']">Minimum length is 8 characters.<br></span>
                <span *ngIf="form.get('password')?.errors?.['upper']">Must contain an uppercase letter.<br></span>
                <span *ngIf="form.get('password')?.errors?.['number']">Must contain a number. <br></span>
              </div>
            </div>

            <div class="mb-2">
              <label for="confirmPasswordInput" class="form-label small">Confirm Password</label>
              <input type="password" class="form-control form-control-sm" id="confirmPasswordInput" formControlName="confirmPassword" placeholder="Confirm Password">
              <div *ngIf="form.get('password')?.touched && form.get('password')?.invalid" class="error">
                <span *ngIf="form.get('password')?.errors?.['required']">Confirm Password is required.</span>
              </div>

              <div *ngIf="form.errors?.['passwordmatcherror']" class="error">
                Passwords do not match.
              </div>
            </div>

            <button class="btn btn-primary btn-sm" type="submit" [disabled]="form.invalid">Sign up</button>

            <div class="registerOption">
              <p class="small">Already have an account? <a class="registerLink text-decoration-none" routerLink="/login">Sign in!</a></p>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6 d-none d-md-block">
        <img src="https://images.unsplash.com/photo-1568667256549-094345857637?q=80&w=1315&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
             class="img-fluid w-100 rounded-4" style="max-height: 80vh; object-fit: cover;">
      </div>

    </div>
  </div>
</div>
