<div class="d-flex">

  <div class="d-flex flex-column flex-shrink-0" style="width: 180px; height: 95vh;">
    <a routerLink="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <ul class="fs-4 nav ms-3">
        <li class="nav-item">Bookstore</li>
      </ul>
    </a>



    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link link-body-emphasis">Dashboard</a>
      </li>
      <li>
        <a routerLink="/admin/books" routerLinkActive="active" class="nav-link link-body-emphasis">Books</a>
      </li>
      <li>
        <a routerLink="/admin/magazines" routerLinkActive="active" class="nav-link link-body-emphasis">Magazines</a>
      </li>
      <li>
        <a routerLink="/admin/categories" routerLinkActive="active" class="nav-link link-body-emphasis">Categories</a>
      </li>
      <li>
        <a routerLink="/admin/users" routerLinkActive="active" class="nav-link link-body-emphasis">Users</a>
      </li>
    </ul>

    <hr>

    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!(isLoggedIn$ | async)">
        <a class="nav-link" routerLink="/login">Sign In</a>
      </li>

      <li class="nav-item dropdown" *ngIf="isLoggedIn$ | async">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <ng-container *ngIf="currentUser$ | async as user">
              Welcome, {{ user.FirstName }}!
            </ng-container>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item small" href="#">Profile</a></li>
            <li><button class="dropdown-item small" (click)="authService.logout()">Logout</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>


  <div class="flex-grow-1 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
